*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif, serif;
}

.main{
    height: 100vh;
    display: grid;
    grid-template-rows: 3fr 10fr 1fr;
}

.header{
    height: 100px;
    color: #fff;
    background-color: burlywood;
    padding: 10px;
    text-align: center;
}

footer{
    height: 50px;
    color: #fff;
    background-color: rgb(231, 182, 117);
    padding: 15px;
    text-align: center; 
}

.dialogBox{
    align-self: center;
    justify-self: center;
    padding: 15px;
}


