*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif, serif;
}

.main{
    height: 100vh;
    display: grid;
    grid-template-rows: 3fr 10fr 1fr;
    overflow: hidden;
}

.header{
    height: 100px;
    color: #fff;
    background-color: burlywood;
    padding: 10px;
    text-align: center;
}

footer{
    color: #fff;
    background-color: rgb(231, 182, 117);
    padding: 10px;
    text-align: center; 
}

.dialogBox{
    align-self: center;
    justify-self: center;
    padding: 20px;
    display: grid;
    gap: 10px;
}

.dialogBox > p{
    font-size: large;
    font-weight: bold;
}

.dialogBox form div{
    display: grid;
    margin: 15px;
}

.dialogBox form input[type="submit"]{
    font-size: 16px;
    text-align: center;
    margin-left: 70px;
}


