*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif, serif;
}

.main{
    height: 100vh;
}

.header{
    height: 100px;
    color: #fff;
    background-color: burlywood;
    padding: 10px;
    text-align: center;
}

footer{
    height: 50px;
    color: #fff;
    background-color: burlywood;
    padding: 10px;
    text-align: center;
}


